<div class="wrapper">
  <div class="header">
    <p>First Header</p>
    <div class="Header-Wrapper">
      <div class="box"><a routerLink="/first">First</a></div>
      <div class="box"><a routerLink="/third">Second</a></div>
    </div>
  </div>
  <div class="container">
    <div class="aside asideLeft">Left Side</div>
    <div class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor dolores eius explicabo
      modi, nihil numquam perferendis saepe vel voluptates! A odit quibusdam repudiandae sint voluptatem? Aperiam atque
      beatae consequuntur dolorem, ipsam libero maiores placeat quo recusandae sunt. Architecto assumenda, at
      consequuntur culpa cum, cupiditate delectus deserunt dicta doloremque eos eveniet excepturi fugiat impedit itaque
      iusto labore laudantium molestiae obcaecati officia officiis placeat porro praesentium quas qui quis quo quod sed
      tempore tenetur ullam unde velit vitae voluptas! Adipisci dolor dolorem nobis quaerat quam quidem velit,
      voluptatum. Ab impedit maxime necessitatibus perspiciatis reiciendis repellendus similique sint totam. Impedit,
      repellat, suscipit.
    </div>
    <div class="aside asideRight">Right Side</div>

  </div>
  <div class="footer">Footer</div>
</div>
