<div class="wrapper">
  <div class="header">
    <p>Web Header</p>
    <div class="Header-Wrapper">
      <a routerLink="/first">First</a>
      <a routerLink="/third">Second</a>
    </div>
  </div>
  <div class="container">
    <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at varius tellus, at feugiat
      elit.
      Maecenas nulla
      ex, dapibus ac mollis vitae, gravida nec mi. Suspendisse id ornare metus. Curabitur malesuada fermentum neque.
      Cras vulputate felis quam, et condimentum ligula egestas sodales. Phasellus neque leo, dictum sed aliquam a,
      tristique eget sem. Etiam turpis nunc, mattis sed diam quis, sagittis gravida urna. Duis a velit nisl. Integer
      varius urna nibh, et blandit tellus molestie vitae. Quisque eget bibendum felis. Ut efficitur lectus eget
      eleifend aliquam. Fusce vitae lacus ut nunc pharetra semper sed in sapien. Sed mattis tempor feugiat. Quisque
      sagittis risus in venenatis dignissim.

      Proin eu elit tellus. Phasellus facilisis lorem at rhoncus ultrices. Integer euismod massa sit amet sodales
      tristique. Vestibulum id mi scelerisque, pretium tortor vel, auctor sapien. Ut ultrices sodales turpis nec
      lobortis. In consequat elementum leo at lobortis. Aliquam nec diam vel est condimentum vehicula. Sed aliquet
      orci lacus, pretium porttitor turpis mattis id. Nullam pretium orci sapien, id interdum augue tristique et.
      Etiam posuere condimentum tellus non suscipit. Vivamus lectus neque, porttitor ac consequat eu, egestas vel
      orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur
      posuere
      vel urna et ullamcorper.

      Phasellus finibus odio nec lorem condimentum pellentesque. Aenean finibus vehicula neque vel mattis. Sed
      ullamcorper metus vitae felis auctor, vel varius leo pulvinar. Vivamus felis turpis, egestas quis semper quis,
      tincidunt vel nibh. Fusce vulputate, tellus eu elementum eleifend, nisi diam bibendum massa, vitae vestibulum
      odio diam at sem. Aenean eleifend elementum arcu faucibus suscipit. Pellentesque ac sagittis libero. Cras
      pretium non purus sed blandit. Donec ornare tellus eget velit lobortis, sed convallis diam pretium. Phasellus
      id
      sollicitudin velit. Mauris velit eros, posuere eu sollicitudin at, tincidunt vel justo. Phasellus eu tincidunt
      massa, sit amet consectetur magna. Ut vel faucibus dui.

      Nulla porttitor, dolor ut semper hendrerit, tellus sem commodo erat, et efficitur lacus nulla sit amet ex.
      Nulla
      facilisi. Ut tincidunt, sem ut tempor dapibus, nibh diam fringilla nulla, quis pellentesque diam lorem vel ex.
      Etiam vitae maximus sem, vel vehicula dolor. Pellentesque semper, massa sit amet facilisis lacinia, nunc elit
      faucibus dui, quis sodales velit nisl vel ante. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. Morbi neque risus, interdum quis massa eu, laoreet sagittis est. Integer et
      faucibus libero, vitae viverra augue. In hac habitasse platea dictumst. Suspendisse semper rutrum sapien id
      placerat.

      Fusce dapibus tincidunt ligula, eu porttitor nisi volutpat at. Maecenas at libero a arcu finibus feugiat vitae
      vel purus. Proin a est condimentum est dignissim tempor eu vitae sem. Suspendisse bibendum vestibulum quam ut
      vestibulum. Vivamus fringilla neque eget risus pulvinar efficitur. Praesent ac elit volutpat, suscipit diam
      nec,
      vestibulum nisi. Quisque pulvinar nulla sed augue suscipit facilisis. Sed in lacus elit. Vestibulum volutpat
      ultrices feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed scelerisque velit
      dignissim,
      tincidunt elit viverra, gra
      Maecenas nulla
      ex, dapibus ac mollis vitae, gravida nec mi. Suspendisse id ornare metus. Curabitur malesuada fermentum neque.
      Cras vulputate felis quam, et condimentum ligula egestas sodales. Phasellus neque leo, dictum sed aliquam a,
      tristique eget sem. Etiam turpis nunc, mattis sed diam quis, sagittis gravida urna. Duis a velit nisl. Integer
      varius urna nibh, et blandit tellus molestie vitae. Quisque eget bibendum felis. Ut efficitur lectus eget
      eleifend aliquam. Fusce vitae lacus ut nunc pharetra semper sed in sapien. Sed mattis tempor feugiat. Quisque
      sagittis risus in venenatis dignissim.

      Proin eu elit tellus. Phasellus facilisis lorem at rhoncus ultrices. Integer euismod massa sit amet sodales
      tristique. Vestibulum id mi scelerisque, pretium tortor vel, auctor sapien. Ut ultrices sodales turpis nec
      lobortis. In consequat elementum leo at lobortis. Aliquam nec diam vel est condimentum vehicula. Sed aliquet
      orci lacus, pretium porttitor turpis mattis id. Nullam pretium orci sapien, id interdum augue tristique et.
      Etiam posuere condimentum tellus non suscipit. Vivamus lectus neque, porttitor ac consequat eu, egestas vel
      orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur
      posuere
      vel urna et ullamcorper.

      Phasellus finibus odio nec lorem condimentum pellentesque. Aenean finibus vehicula neque vel mattis. Sed
      ullamcorper metus vitae felis auctor, vel varius leo pulvinar. Vivamus felis turpis, egestas quis semper quis,
      tincidunt vel nibh. Fusce vulputate, tellus eu elementum eleifend, nisi diam bibendum massa, vitae vestibulum
      odio diam at sem. Aenean eleifend elementum arcu faucibus suscipit. Pellentesque ac sagittis libero. Cras
      pretium non purus sed blandit. Donec ornare tellus eget velit lobortis, sed convallis diam pretium. Phasellus
      id
      sollicitudin velit. Mauris velit eros, posuere eu sollicitudin at, tincidunt vel justo. Phasellus eu tincidunt
      massa, sit amet consectetur magna. Ut vel faucibus dui.

      Nulla porttitor, dolor ut semper hendrerit, tellus sem commodo erat, et efficitur lacus nulla sit amet ex.
      Nulla
      facilisi. Ut tincidunt, sem ut tempor dapibus, nibh diam fringilla nulla, quis pellentesque diam lorem vel ex.
      Etiam vitae maximus sem, vel vehicula dolor. Pellentesque semper, massa sit amet facilisis lacinia, nunc elit
      faucibus dui, quis sodales velit nisl vel ante. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. Morbi neque risus, interdum quis massa eu, laoreet sagittis est. Integer et
      faucibus libero, vitae viverra augue. In hac habitasse platea dictumst. Suspendisse semper rutrum sapien id
      placerat.

      Fusce dapibus tincidunt ligula, eu porttitor nisi volutpat at. Maecenas at libero a arcu finibus feugiat vitae
      vel purus. Proin a est condimentum est dignissim tempor eu vitae sem. Suspendisse bibendum vestibulum quam ut
      vestibulum. Vivamus fringilla neque eget risus pulvinar efficitur. Praesent ac elit volutpat, suscipit diam
      nec,
      vestibulum nisi. Quisque pulvinar nulla sed augue suscipit facilisis. Sed in lacus elit. Vestibulum volutpat
      ultrices feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed scelerisque velit
      dignissim,
      tincidunt elit viverra, gravida est. Orci varius natoque penatibus et magnis dis parturient montes,
    </div>
    <div class="aside asideLeft">Left Aside</div>
    <div class="aside asideRight">Right Aside</div>
  </div>
  <div class="footer">Footer</div>
</div>
